<!doctype html>
<meta charset="UTF-8">
<title>Patlam-pi</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <h1>
        <img class="logo_raspi" src="{{ url_for('static', filename='Raspi_Colour_R-207x250.png') }}" alt="Raspi">
        <span class="title"> Patlam<strong class="pi">Pi</strong></span>
    </h1>
    <div class=metanav>
        {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">log in</a>
        {% else %}
        <a href="{{ url_for('logout') }}">log out</a>
        {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}
{% block body %}{% endblock %}
</div>