{% extends "layout.html" %}
{% block body %}
    <h2>現在の設定</h2><span>※設定変更するにはログインしてください</span>
    <table>
        {% for setting in settings %}
            <tr>
                <th>{{ setting.key }}</th>
                <td>
                    {% if setting.val == '' %}
                        -
                    {% else %}
                        {{ setting.val|safe }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if session.logged_in %}
        <input type=submit value=更新>
    {% else %}
    {% endif %}

    <br>
    <h3>ステータス</h3>
    <table>
        {% for key, val in statuses.iteritems() %}
            <tr>
                <th>{{ key }}</th>
                <td>
                    {% if key == 'Snmptrap' %}
                    <div class="snmptrap">{{ val|safe }}</div>
                    {% else %}
                    {{ val|safe }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}